# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


Some of the popular languages that Data Scientists use

Some of the commonly used libraries used by Data Scientists

Examples of evaluating arithmetic expressions

Some of the commonly used libraries used by Data Scientists include:


1- R

2- Python

3- SQL

4- JavaScript

Some of the commonly used libraries used by Data Scientists include:


1- Pandas

2- Numpy

3- Matplotlib

4- Scikit-learn

5- Keras

6- Tensorflow

7- Pytorch

|**Data Science Tools**|
|-----|
|Jupyter|
|       |
|MySQL|
|     |
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Abdelrahman Essam